@import "./variables.scss";

// * {
//     margin: 0;
//     padding: 0;
// }

html {
    font-size: 14px;
}

body {
    height: 100vh;
    background-color: $background-color;
    font-family: "Montserrat", sans-serif, Arial, "Microsoft Yahei";
}

.grid-box {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1300px) {
    .grid-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .grid-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .grid-box {
        grid-template-columns: 1fr;
    }
}

.title {
    text-align: center;
    color: $font_color;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
}

.filter {
    float: right;
    width: 180px;
    height: 30px;
    background-color: $color3;
    margin-right: 3em;
    border: 0.5px solid $border-color;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    overflow: hidden;
    color: $font_color;
    span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        border-right: 0.5px solid $border-color;
        width: 60px;
        text-align: center;
        cursor: pointer;
    }
    span:hover {
        background-color: $border-color;
    }
    .selected {
        background-color: $border-color;
    }
}
