// theme colors
$background-color: #2c3e50;
$border-color: #7591ad;
$text-color: #34495e;
$color1: #ec3e27;
$color2: #fd79a8;
$color3: #0984e3;
$color4: #00b894;
$color5: #fdcb6e;
$color6: #e056fd;
$color7: #f97f51;
$color8: #bdc581;
$a_border_color: #86a3b3;
$h2_border_color: #8ea2b8;
$a_hover_background_color: #86a3b3;
$font_color: #e8f6fd;

// break through points
$lScreen: 1300px;
$mScreen: 900px;
$sScreen: 500px;
